@import url('https://fonts.googleapis.com/css?family=Patrick+Hand');

body {
    font-size: 18px;
    font-family: 'Patrick Hand', Verdana, sans-serif;
    background-color: #F0EDE5;
}

h1 {
    font-size: 3rem;
}

input {
    width: 500px;
    padding: 10px 5px;
    border-radius: 5px;
    background-color: #F0EDE5;
}

.notesblok {
    max-width: 800px;
    margin: auto;
    padding: 40px 30px;
    background-repeat: repeat;
    border-radius: 5px;
    box-shadow: 20px 20px 50px 15px grey;
}

.note {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 3px dashed #745742;
    color: #111;
    font-size: 1.5rem;
}

.note p {
    padding-right: 20px;
    width: 80%;
}

.note div {
    width: 10%;
    user-select: none;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
}
